* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #93c4c0;
  padding: 12px;
}

.nav {
  padding: 0px;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 20px;
  align-items: baseline;
  font-size: 20px;
}

li.logo {
  font-size: 30px;
  font-weight: 900;
  padding: 20px;
  margin-right: auto;
}

.hero {
  display: flex;
  margin: 20px;
  gap: 10px;
  justify-content: space-around;
}

.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  text-align: left;
  margin-bottom: 40px;
  font-size: 50px;
}

.recipes {
  font-size: 25px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.footer {
  padding: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
}
