*{
    background-color: white;
    box-sizing: border-box;
}

.card{
    width: 400px; 
    border-style: solid;
    border-color: black;
    margin: 50px auto;
}

h1{
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

